# Reshaping, Group By Aggregation, and Pandas Visualization

Pada bagian ini Anda akan diperkenalkan dengan struktur dataframe MultiIndex dan bagaimana cara untuk melakukan reshaping sebuah dataframe. Selain itu, Anda akan diperkenalkan dengan salah satu metode untuk melakukan agregasi yaitu `groupby()`. Method groupby ini memiliki beberapa kesamaan dengan method `crosstab()` dan `pivot_table()`, akan tetapi groupby memiliki kelebihan dimana dataframe hasil agregasinya akan lebih rapi(tidy) dibandingkan crosstab() maupun pivot_table(). Di akhir sesi, Anda akan diperkenalkan dengan method visualisasi dasar dari package Pandas yaitu `plot()`.

## Reshaping 
Reshaping merupakan sebuah teknik untuk mengubah bentuk data yang kita punya. Jika Anda pernah mengenal istilah dataframe dengan bentuk wide format dan long format, disinilah letak reshaping akan dibutuhkan. Lalu apa perbedaan di antara kedua bentuk data tersebut? Apakah ada kebutuhan khusus kapan kita bekerja dengan data yang memiliki bentuk wide maupun long format? Perhatikan contoh di bawah ini.

In [1]:
import pandas as pd

In [8]:
traffic = pd.read_pickle("data_input/traffic.pkl")
traffic

                Bounce Rate                           Sessions               \
Device Category     desktop     mobile     tablet      desktop       mobile
Date
2019-06-01        41.455099  64.462710  20.012573   337.921687   582.246269
2019-06-02        32.372644  46.659636  44.833929   320.876543   916.636364
2019-06-03        28.904192  43.962397  85.697323   821.010471   891.817610
2019-06-04        38.309282  57.369383  22.644138  1006.187097   837.184211
2019-06-05        52.500556  59.074780  22.220044   871.426136   647.034091
2019-06-06        49.334430  46.404598  18.004510   794.953216   572.264706
2019-06-07        39.676456  18.300918  11.164204   911.410072   573.933824
2019-06-08        17.311701  60.238653  71.426596   253.587786   434.396226
2019-06-09        55.998428  40.222750  67.926808   248.651316   678.524272
2019-06-10        26.180226  57.754588  50.000000   985.912162   682.203252
2019-06-11        37.753643  62.345669  50.079057  1136.516949   729.638655
2019-06-12        25.818185  54.122648  58.855527   791.540741  1148.252747
2019-06-13        52.585225  25.889443   0.000000   771.790698   551.606667
2019-06-14        56.637544  46.837113   0.000000   656.685315   536.122951
2019-06-15        46.672843  44.518395  34.160500   330.114583   478.752577
2019-06-16        57.027557  44.338328  75.162350   254.318182   443.754545
2019-06-17        35.958897  59.745896  61.669496   833.196262   894.611111
2019-06-18        49.535876  46.825643  24.993294   920.336735   886.759036
2019-06-19        41.476804  58.212215  16.662196   907.239583   614.321429
2019-06-20        28.784344  48.037109  46.805616   921.512821   764.410256
2019-06-21        21.601922  44.209869   0.000000   644.919540   653.825581
2019-06-22        37.373491  57.128801  52.502380   240.538462   608.328358
2019-06-23        11.922650  56.052432  54.108424   404.360000   593.741935
2019-06-24        41.200403  60.649373  42.885833   881.188406   879.983051
2019-06-25        38.858997  49.920611  44.501913   921.369231   856.113208
2019-06-26        32.394944  48.672402  44.497656  1078.000000   835.851064
2019-06-27        50.778923  55.180274  47.058824   953.480769   790.500000
2019-06-28        42.412381  53.702514  55.248658   728.851064   902.729730
2019-06-29        35.244142  48.952851  25.000000   210.684211   549.027027
2019-06-30        40.833044  46.124542  39.668914   228.375000   584.307692

                            Total Visitors
Device Category      tablet        desktop      mobile      tablet
Date
2019-06-01       115.878788     314.909639  477.708955  115.878788
2019-06-02       132.492308     305.611111  741.898990  131.892308
2019-06-03       270.419355     744.178010  695.792453  115.870968
2019-06-04       154.600000     908.735484  684.184211   64.477778
2019-06-05       141.804598     788.664773  519.465909  128.896552
2019-06-06       100.564286     699.555556  462.694118   85.135714
2019-06-07       103.160494     790.964029  481.845588  103.160494
2019-06-08       270.692308     215.206107  377.484277  232.000000
2019-06-09       113.076923     235.914474  565.883495   75.846154
2019-06-10        38.958333     891.054054  546.373984   38.958333
2019-06-11        77.582609    1037.466102  594.075630   62.113043
2019-06-12        60.125000     734.807407  904.153846   60.125000
2019-06-13       116.119048     670.968992  410.433333  116.119048
2019-06-14        58.225000     553.503497  421.885246   58.225000
2019-06-15        65.107143     299.458333  418.010309   65.107143
2019-06-16        58.250000     229.027273  412.072727   58.250000
2019-06-17        67.521739     709.420561  695.755556   67.521739
2019-06-18       155.062500     812.346939  751.746988  135.656250
2019-06-19       116.375000     778.020833  475.928571  116.375000
2019-06-20       208.806452     861.397436  644.102564   95.064516
2019-06-21       102.000000     530.827586  546.534884  102.000000
2019-06-22        63.536585     217.292308  480.432836   63.536585
2019-06-23        64.081081     357.000000  534.967742   64.081081
2019-06-24       116.515152     792.927536  699.135593  116.515152
2019-06-25        77.766667     729.046154  679.660377   64.800000
2019-06-26        77.814815     894.437500  642.574468   64.814815
2019-06-27        93.647059     813.153846  635.142857   75.470588
2019-06-28        72.875000     604.893617  725.324324   61.625000
2019-06-29        78.000000     192.315789  467.108108   58.500000
2019-06-30       122.142857     196.843750  517.038462  103.714286

Data di atas merupakan data traffic sebuah website. Data tersebut dikumpulkan berdasarkan jenis device yaitu traffic pada desktop, mobile device, dan tablet. Analisis traffic website umum dilakukan dengan tujuan untuk mengevaluasi apakah website yang dibangun sudah sesuai dengan kebutuhan user/pengguna website. Selain itu, analisis traffic website diperlukan untuk melihat kekurangan dari website yang harus segera di perbaiki, mengukur efisiensi, dana melihat perubahan strategis yang dilakukan perusahaan. Dalam melakukan analisis terhadap traffic sebuah website, kita akan melihat beberapa parameter yang paling umum digunakan yaitu bounce rate, session, dan total visitor. Bounce rate adalah persentase pengunjung yang langsung meninggalkan website setelah membuka satu halaman saja [Google Analytics](https://support.google.com/analytics/answer/1009409?hl=id). Pendapat lain mengatakan bahwa bounce rate adalah keadaan dimana setelah pengunjung membuka sebuah halaman website, ia tidak melakukan tindakan apapun di halaman tersebut. Semakin tinggi nilai bounce rate menandakan ada yang salah dengan strategi website yang dijalankan. 

Session adalah kumpulan interaksi pengguna dengan situs Anda dalam jangka waktu tertentu.

In [3]:
traffic.shape

(30, 9)

In [4]:
traffic.describe()

                Bounce Rate                           Sessions               \
Device Category     desktop     mobile     tablet      desktop       mobile
count             30.000000  30.000000  30.000000    30.000000    30.000000
mean              38.897161  50.197218  39.593025   678.898501   703.962615
std               11.605089  10.107346  22.766674   304.598550   171.638263
min               11.922650  18.300918   0.000000   210.684211   434.396226
25%               32.378219  46.194556  22.326067   332.066359   576.011935
50%               39.267727  49.436731  44.499784   793.246979   666.174927
75%               48.669033  57.658287  53.706913   918.105069   851.380958
max               57.027557  64.462710  85.697323  1136.516949  1148.252747

                            Total Visitors
Device Category      tablet        desktop      mobile      tablet
count             30.000000      30.000000   30.000000   30.000000
mean             109.773370     596.998290  573.647213   90.057711
std               56.976210     266.389044  128.975121   38.241764
min               38.958333     192.315789  377.484277   38.958333
25%               68.860054     307.935743  476.373667   63.672709
50%              101.282143     704.488058  546.454434   75.658371
75%              120.735931     792.436659  683.053252  115.876833
max              270.692308    1037.466102  904.153846  232.000000

Data `traffic.pkl` adalah data analisis kunjungan sebuah website. Saat kita menganalisa traffic kunjuan sebuah website maka kita kaan menemukan 3 variabel utama di dalamanya yaitu Bounce rate, Session, dan jumlah pengunjung(visitor). Bounce rate adalah kondisi dimana seorang pengunjung website hanya mengunjungi satu halaman website saja dan cenderung tidak tertarik untuk mengunjungi halaman website lainnya. Selain itu menurut Google Analytics bounce rate adalah persentase pengunjung yang langsung meninggalkan website setelah membuka satu halaman saja. Pengunjung hanya membuka satu halaman website tanpa melakukan tindakan apa pun. Ini artinya semakin besar nilai bounce rate maka ada kemungkinan yang salah dengan website yang kita miliki.

In [36]:
ntraf = pd.read_csv("data_input/la-traffic.csv", index_col='Date')
ntraf.head()

,Device Category,Browser,Total Visitors,Sessions,Bounce Rate
Date,,,,,
2019-06-01,desktop,Firefox,38,38,0.0000
2019-06-01,mobile,Android Webview,38,38,100.0000
2019-06-01,mobile,Chrome,77,77,49.3506
2019-06-01,desktop,Chrome,997,1073,24.9767
2019-06-01,desktop,Edge,115,115,66.9565

In [37]:
ntraf.Browser.unique()

array(['Firefox', 'Android Webview', 'Chrome', 'Edge',
       'Internet Explorer', 'Safari', 'Safari (in-app)',
       'Samsung Internet', 'Amazon Silk', 'Opera',
       'Mozilla Compatible Agent', 'Android Browser', 'Opera Mini',
       "'Mozilla", 'YaBrowser'], dtype=object)

In [4]:
ntraf.drop(columns='Browser', axis=1, inplace=True)

In [5]:
ntraf

         Date Device Category  Total Visitors  Sessions  Bounce Rate
0  2019-06-01         desktop              38        38       0.0000
1  2019-06-01          mobile              38        38     100.0000
2  2019-06-01          mobile              77        77      49.3506
3  2019-06-01         desktop             997      1073      24.9767
4  2019-06-01         desktop             115       115      66.9565

In [38]:
browser_type = ['desktop']

In [39]:
new_ntraf = ntraf[(ntraf['Device Category'].isin(browser_type))]
new_ntraf.shape

(3254, 5)

In [34]:
new_ntraf = new_ntraf.drop_duplicates(keep='last')
new_ntraf.shape

(1314, 6)

In [40]:
group_traf = new_ntraf.groupby(['Date','Browser']).agg({
    'Total Visitors' : 'sum',
    'Sessions' : 'sum',
    'Bounce Rate' : 'mean'
})
group_traf.unstack()

           Total Visitors                                               \
Browser          'Mozilla   Chrome     Edge  Firefox Internet Explorer
Date
2019-06-01            NaN  33126.0   3822.0   5134.0            3822.0
2019-06-02            NaN  29697.0   4943.0   2473.0            2473.0
2019-06-03            NaN  85666.0  14406.0   7261.0           21591.0
2019-06-04            NaN  94302.0   5833.0   9348.0           20900.0
2019-06-05            NaN  91657.0  11207.0   6762.0           12329.0
2019-06-06            NaN  77335.0   7576.0  10861.0           15151.0
2019-06-07            NaN  78476.0   6301.0   4175.0           13608.0
2019-06-08            NaN  19100.0   2011.0   1049.0            2011.0
2019-06-09            NaN  22277.0   1934.0   2902.0            1934.0
2019-06-10            NaN  80228.0  10252.0   5608.0           19071.0
2019-06-11            NaN  79588.0   7119.0   3636.0           21361.0
2019-06-12            NaN  64167.0   1703.0   5185.0           14473.0
2019-06-13            NaN  60349.0   3405.0   5691.0           10568.0
2019-06-14          780.0  47855.0   2324.0   7009.0           14982.0
2019-06-15            NaN  19868.0    741.0    780.0            1472.0
2019-06-16            NaN  16777.0   3486.0   2092.0             702.0
2019-06-17            NaN  47697.0   5386.0   3370.0            9376.0
2019-06-18            NaN  51933.0   6203.0   3100.0           11162.0
2019-06-19            NaN  51470.0   3371.0   5582.0            8682.0
2019-06-20            NaN  42681.0    585.0   5856.0           12250.0
2019-06-21            NaN  30863.0   2171.0   3257.0            6049.0
2019-06-22            NaN  10084.0    507.0   1010.0             507.0
2019-06-23            NaN  13150.0    468.0     39.0             468.0
2019-06-24            NaN  33601.0   3842.0   4696.0            7371.0
2019-06-25            NaN  30737.0   3183.0   3533.0            6752.0
2019-06-26            NaN  27096.0   3106.0   1473.0            5242.0
2019-06-27            NaN  28771.0   2213.0   2796.0            3804.0
2019-06-28          273.0  17282.0   2797.0   2214.0            2525.0
2019-06-29            NaN   4934.0    468.0    468.0             273.0
2019-06-30            NaN   3575.0    390.0    584.0             195.0

                                                               Sessions  ...  \
Browser    Mozilla Compatible Agent   Opera   Safari YaBrowser 'Mozilla  ...
Date                                                                     ...
2019-06-01                      NaN     NaN   6371.0       NaN      NaN  ...
2019-06-02                      NaN     NaN   9923.0       NaN      NaN  ...
2019-06-03                      NaN  1201.0  12013.0       NaN      NaN  ...
2019-06-04                      NaN     NaN  10471.0       NaN      NaN  ...
2019-06-05                   2242.0     NaN  14608.0       NaN      NaN  ...
2019-06-06                      NaN  1087.0   7614.0       NaN      NaN  ...
2019-06-07                      NaN     NaN   7384.0       NaN      NaN  ...
2019-06-08                      NaN     NaN   4021.0       NaN      NaN  ...
2019-06-09                      NaN   973.0   5839.0       NaN      NaN  ...
2019-06-10                      NaN   935.0  15782.0       NaN      NaN  ...
2019-06-11                      NaN     NaN  10717.0       NaN      NaN  ...
2019-06-12                      NaN   858.0  12813.0       NaN      NaN  ...
2019-06-13                     39.0  1626.0   4877.0       NaN      NaN  ...
2019-06-14                      NaN   780.0   5421.0       NaN    780.0  ...
2019-06-15                      NaN     NaN   5887.0       NaN      NaN  ...
2019-06-16                      NaN     NaN   1434.0     702.0      NaN  ...
2019-06-17                      NaN   663.0   9416.0       NaN      NaN  ...
2019-06-18                    624.0     NaN   6588.0       NaN      NaN  ...
2019-06-19                    624.0     NaN   4961.0       NaN      NaN  ...
2019-06-20                      NaN     NaN   5817.0       NaN      NaN  ...
2019-06-21                    546.0     NaN   3296.0       NaN      NaN  ...
2019-06-22                      NaN     NaN   2016.0       NaN      NaN  ...
2019-06-23                      NaN     NaN   3725.0       NaN      NaN  ...
2019-06-24                      NaN   429.0   4773.0       NaN      NaN  ...
2019-06-25                    390.0     NaN   2793.0       NaN      NaN  ...
2019-06-26                      NaN     NaN   6016.0       NaN      NaN  ...
2019-06-27                    312.0     NaN   4388.0       NaN      NaN  ...
2019-06-28                      NaN     NaN   3339.0       NaN    273.0  ...
2019-06-29                      NaN   234.0    931.0       NaN      NaN  ...
2019-06-30                      NaN   195.0   1360.0       NaN      NaN  ...

                     Bounce Rate                                   \
Browser    YaBrowser    'Mozilla     Chrome       Edge    Firefox
Date
2019-06-01       NaN         NaN  25.002118  66.719667  48.567735
2019-06-02       NaN         NaN  42.671821   0.000000   0.000000
2019-06-03       NaN         NaN  42.575859  37.257713  15.420816
2019-06-04       NaN         NaN  38.901061  38.726361  36.294258
2019-06-05       NaN         NaN  48.071550  29.999110  48.333397
2019-06-06       NaN         NaN  46.525917  37.507264  37.131579
2019-06-07       NaN         NaN  42.225832  19.722343  75.018156
2019-06-08       NaN         NaN  28.571442   0.000000   0.000000
2019-06-09       NaN         NaN  38.423323  33.528540  66.643880
2019-06-10       NaN         NaN  32.534212  24.015108  42.652672
2019-06-11       NaN         NaN  42.998767  44.426439  24.153850
2019-06-12       NaN         NaN  42.324635   0.000000  18.269178
2019-06-13       NaN         NaN  43.488977  59.569114  71.428667
2019-06-14       NaN       100.0  37.552043  33.563220  25.927286
2019-06-15       NaN         NaN  35.487247   0.000000  95.000000
2019-06-16     702.0         NaN  36.447316  60.011650  50.017922
2019-06-17       NaN         NaN  37.141756  23.611072  50.024156
2019-06-18       NaN         NaN  50.293529  45.441231  25.014981
2019-06-19       NaN         NaN  26.733937  37.123594  39.996938
2019-06-20       NaN         NaN  43.925175   0.000000  28.107225
2019-06-21       NaN         NaN  45.364767  20.118064  14.368429
2019-06-22       NaN         NaN  36.368562   0.000000  50.199815
2019-06-23       NaN         NaN  41.960238   0.000000  50.649400
2019-06-24       NaN         NaN  35.815992  20.051455  33.313791
2019-06-25       NaN         NaN  37.235773  29.988873  27.258600
2019-06-26       NaN         NaN  40.438250  18.465289  53.989690
2019-06-27       NaN         NaN  49.473844  43.662422  35.709350
2019-06-28       NaN       100.0  41.805150  42.715037  18.759813
2019-06-29       NaN         NaN  42.524543  33.429100   0.000000
2019-06-30       NaN         NaN  22.714900  33.390780  66.781640

                                                                              \
Browser    Internet Explorer Mozilla Compatible Agent       Opera     Safari
Date
2019-06-01         33.410955                      NaN         NaN  33.359485
2019-06-02         50.101469                      NaN         NaN  67.665188
2019-06-03         36.900687                      NaN    0.000000  40.366822
2019-06-04         29.241732                      NaN         NaN  48.382997
2019-06-05         42.858097                    100.0         NaN  46.037603
2019-06-06         19.998754                      NaN  100.000000  55.170748
2019-06-07         38.565321                      NaN         NaN  24.112832
2019-06-08         33.509885                      NaN         NaN  25.143012
2019-06-09         50.311712                      NaN  100.000000  48.101977
2019-06-10         15.363616                      NaN    0.000000  42.105554
2019-06-11         31.996930                      NaN         NaN  45.230400
2019-06-12         26.322986                      NaN    0.000000  65.769200
2019-06-13         38.465229                    100.0   50.371086  50.031019
2019-06-14         52.147405                      NaN  100.000000  49.987150
2019-06-15         50.341789                      NaN         NaN  49.991642
2019-06-16          0.000000                      NaN         NaN  94.736842
2019-06-17         47.229183                      NaN   33.553076  24.060483
2019-06-18         31.582100                    100.0         NaN  45.112518
2019-06-19         19.991375                    100.0         NaN  25.014981
2019-06-20         40.184050                      NaN         NaN  29.981040
2019-06-21         14.374160                      0.0         NaN  33.364827
2019-06-22         50.199815                      NaN         NaN  50.099262
2019-06-23          0.000000                      NaN         NaN   0.000000
2019-06-24         22.979283                      NaN  100.000000  37.522233
2019-06-25         26.005045                    100.0         NaN  18.223964
2019-06-26         22.729667                      NaN         NaN  23.992330
2019-06-27         29.605756                    100.0         NaN  50.016778
2019-06-28         17.570825                      NaN         NaN  40.821912
2019-06-29          0.000000                      NaN  100.000000  40.171833
2019-06-30          0.000000                      NaN  100.000000  28.250983


Browser    YaBrowser
Date
2019-06-01       NaN
2019-06-02       NaN
2019-06-03       NaN
2019-06-04       NaN
2019-06-05       NaN
2019-06-06       NaN
2019-06-07       NaN
2019-06-08       NaN
2019-06-09       NaN
2019-06-10       NaN
2019-06-11       NaN
2019-06-12       NaN
2019-06-13       NaN
2019-06-14       NaN
2019-06-15       NaN
2019-06-16     100.0
2019-06-17       NaN
2019-06-18       NaN
2019-06-19       NaN
2019-06-20       NaN
2019-06-21       NaN
2019-06-22       NaN
2019-06-23       NaN
2019-06-24       NaN
2019-06-25       NaN
2019-06-26       NaN
2019-06-27       NaN
2019-06-28       NaN
2019-06-29       NaN
2019-06-30       NaN

[30 rows x 27 columns]